.footer {
    width: 100vw;
    height: 150px;
    background-color: #1a3459;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;  
}

.socialMedia svg {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.socialMedia svg :hover {
    color: rgb(212, 240, 113);
}

.footer p {
    color: white;
}