.home {
    width: 100vw;
    height: 100VH;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: grid;

  
  }

  .headerContainer {
    width: 100vw;
    height: 100vh;
    background-size: contain;
}

   
  .headerContainer button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    height: 60px;
    width: 140px;
    color: royalblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .headerContainer button:hover {
    cursor: pointer;
  }

  .headerContainer h1 {
    padding-top: 8rem;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  

    
  