.moduleDetail {
    display: grid;
    margin: 3rem;
    padding: 2rem;
    border: 1px solid blue;
    border-radius: 10px;
    background-color:aliceblue;
}



.module-detail-main-wraper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;  
}
.module-detail-main-wraper img {
    /* width: 800px; */
    place-content: center;
}

.module-detail-main-wraper h2 {
    color: cornflowerblue;
    margin-bottom: 1rem;

}

.h2Comments {
    margin-top: 2rem;
}

.comments {
    border-bottom: 1px solid rgb(90, 28, 28);
    font-size: 1.3rem;
}
    

