.moduleDetail {
    display: grid;
    margin: 3rem;
    padding: 2rem;
    border: 1px black solid;
}



.module-detail-main-wraper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    
}
.module-detail-main-wraper img {
    /* width: 800px; */
    place-content: center;
}

.module-detail-main-wraper h2 {
    color: cornflowerblue;
    margin-bottom: 1rem;

}

